<section class='combos'>
	<div class='combo-wrapper'>
		{{#each doc.combos}}
			<div class='combo-block' id='{{id}}'>
				<div class='addition'>
					<p class='text'>{{first}}</p>
					<p class='plus'>{{connector}}</p>
					<p class='text'>{{second}}</p>
				</div>
				<div class='sketches'>
					<img src='assets/images/{{firstImg}}' alt='{{firstAlt}}'>
					<img src='assets/images/{{secondImg}}' alt ='{{secondAlt}}'>
				</div>
				<p class='example'>{{example}}</p>
				<div class='pub-counts'>
					<div class='labels'>
						<p>Name</p>
						<p>No.</p>
					</div>
					<div class='fade is-visible'></div>
				</div>
				<button class='is-visible'>See all</button>
			</div>
		{{/each}}
	</div>
	{{#each doc.afterCombos}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</section>
