<div class='intro'>
	<img src='assets/images/dodad.jpg'>
	<h1 class='intro__hed'>{{meta.title}}</h1>
	<p class='intro__byline'>By
		<a href='{{meta.author1.url}}' target='_blank'>
			<strong>{{meta.author1.name}}</strong>
		</a> &
		<a href='{{meta.author2.url}}' target='_blank'>
			<strong>{{meta.author2.name}}</strong>
		</a>
	</p>
	{{#each doc.intro}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>
